.svg {
  margin-left: 100px;
  margin-top: 50px;
}

@font-face {font-family:"STARWARS";src:url("STARWARS.eot?") format("eot"),url("STARWARS.woff") format("woff"),url("STARWARS.ttf") format("truetype"),url("STARWARS.svg#STARWARS") format("svg");font-weight:normal;font-style:normal;}

img {
    margin-left: 300px;
    margin-right: auto;
}

body {
  background-color: black;
  font-family: STARWARS;
  color: white;
}

h1 {
  font-family: STARWARS;
  color: white;
}

.axis text,
.axis path,
.axis line {
    stroke: #fff;
    shape-rendering: crispEdges;
}

.planet {
  opacity: 0.98;
}

.stars {
  opacity: 0.7;
}
