.svg {
  margin-left: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
}


img {
    padding-left: 400px;
}

body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

.axis text,
.axis path,
.axis line {
    stroke: #fff;
    shape-rendering: crispEdges;
}

.planet {
  opacity: 0.98;
}

.stars {
  opacity: 0.7;
}

.climates {
  font: white;
}

#info {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  font-family: Courier, monospace;
  font-size: 30px;
  color: yellow;
}
