.svg {
  padding-top: 50px;
  margin-top: 150px;
  float: right;
}

.countrySVG {
  border: 10px;
}

body {
  font-family: Courier, monospace;
}
.mapSVG {
  float: left;
}

.country {
  fill: gray;
  stroke: black;
}

.selected {
  fill: yellow;
}

.hovered {
  opacity: 0.7;
}

.nothovered {
  opacity: 1.0;
}

.eu {
  fill: darkblue;
  stroke: black;
  stroke-width: 0.5px;
}

.eu:hover {
  opacity: 0.5;
}

.notEU {
  fill: gray;
}

.notEU:hover {
  opacity: 1.0;
}
