.nav-nav-tabs {
  background-color: gray;
}

.svg {
  padding-top: 50px;
  margin-top: 150px;
}

#logo {
  position: fixed;
  top: 2px;
  left: 2px;
}

.countrySVG {
  border: 10px;
  color: black;
  float: right;
}

body {
  font-family: Courier, monospace;
  background-color: lightgray;
}

.mapSVG {
  float: right;
}

.country {
  fill: gray;
  stroke: black;
}

.hovered {
  opacity: 0.7;
}

.nothovered {
  opacity: 1.0;
}

.eu {
  /* fill: darkblue; */
  stroke: black;
  stroke-width: 0.5px;
}

.eu:hover {
  opacity: 0.5;
}

.notEU {
  fill: black;
}

.notEU:hover {
  opacity: 1.0;
}

#chart {
  display: inline-block;
  margin-left: 10px;
  padding-top: 50px;
  padding-bottom: 150px;
  margin-bottom: 150px;
}

.countrySVG {
  display: inline-block;
  stroke: 10px;
  color: black;
  float: right;
}

body {
  background-color: lightgray;
}

#map {
  float: right;
}

.legendsvg {
  position: fixed;
  right: 0px;
  top: 50px;
}

.d3-tip {
  opacity: 0.7;
  font-family: courier, monospace;
  font-weight: bold;
  font-size: 20px;
  color: blue;
  text-align: center;
}
